:root {
	--main-color-tint2: #d40000;
	--main-color-tint1: #940000;
	--main-color-halftint: #9a2121;
	--main-color: #800;
	--main-color-shade1: #6e0000;
	--main-color-shade2: #470000;
	--tyrian-purper: #66023C;
	--not-very-dark: rgb(128, 128, 128);
	--not-as-dark: rgb(96, 96, 96);
	--dark: rgb(64, 64, 64);
	--darker: rgb(32, 32, 32);
	--darkest: rgb(16, 16, 16);
}

@media (prefers-color-scheme: light) {
	body>footer {
		border-top: 10px solid #9a2121;
		box-shadow: 0 -3px 5px #555;
		display: flex;
		flex-wrap: wrap;
		padding: 30px
	}

	body>footer>nav a {
		color: #800;
		display: inline-block;
		font: large sans-serif;
		padding: 8px
	}

	body>footer>nav a:hover {
		background-color: #800;
		color: #fff
	}

	body>footer>nav {
		background-color: #fff;
		flex: 1 1;
		text-align: center
	}

	body>footer>nav span {
		color: #800;
		cursor: default;
		font: large sans-serif
	}

	body>footer>nav * {
		vertical-align: middle
	}

	body>footer .special {
		font: small sans-serif
	}
}
